Tipo de Dado                   Descrição do Dado                  Método para Leitura            Método para Escrita

Texto                          CSV                                read_csv                       to_csv

Texto                          Fixe-width                         read_fwf

Texto                          JSON                               read_json                      to_json

Texto                          HTML                               read_html                      to_html

Texto                          Latex                                                             styler.to_latex

Texto                          XML                                read_xml                       to_xml

Texto                          Local Clipboard                    read_clipboard                 to_clipboard

Binário                        MS Excel                           read_excel                     to_excel

Binário                        OpenDocument                       read_excel 

Binário                        HDF5 Format                        read_hdf                       to_hdf

Binário                        Feather Fomart                     read_feather                   to_feather

Binário                        Parquet Format                     read­_parquet                   to_parquet 

Binário                        ORC Format                         read_orc

Binário                        MsgPack                            read_msgpack                   to_msgpack

Binário                        Stata                              read_stata                     to_stata

Binário                        SAS                                read_sas

Binário                        SPSS                               read_spss

Binário                        Python Pickle Format               read_pickle                    to_picke

SQL                            SQL                                read_sql                       to_sql

SQL                            Google BigQuery                    read_gbq                       to_gbq

In [2]:
import pandas as pd

In [4]:
df_selic = pd.read_json("https://api.bcb.gov.br/dados/serie/bcdata.sgs.11/dados?formato=json")

print(df_selic.info())
display(df_selic.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9599 entries, 0 to 9598
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   data    9599 non-null   object
 1   valor   9599 non-null   float64
dtypes: float64(1), object(1)
memory usage: 150.1+ KB
None

         data     valor
0  04/06/1986  0.065041
1  05/06/1986  0.067397
2  06/06/1986  0.066740
3  09/06/1986  0.068247
4  10/06/1986  0.067041